.picture{
    border: 10px solid white;
    width: 80px;
}
.picture:hover{
    border-radius: 25px;
    transform: scale(1.5);
    transition: 0.3s;
}
body{
    background-color: pink;
    display: flex;
    justify-content: center;
    padding-top: 200px;
}
.box{
    display: flex;
    justify-content: center;
}