body{
    background-color: pink;
    display: flex;
    justify-content: center;
    align-items: center;
}
.picture{
    border: 10px solid white;
    width: 80px;
}
.picture:hover{
    border-radius: 25px;
    transform: scale(1.5);
    transition: 0.3s;
}
.box{
    display: flex;
}
.container{
    margin-top: 150px;
}