body{
  margin: 0;
  color: white;
  text-align: center;
}

.container{
  display: flex;
}
.column-left{
  background-color: red;
  margin-right: 15px;
}
.column-mid{
  background-color: green;
  margin-right: 15px;
}
.column-right{
  background-color: blue;

}
.column-left,.column-right, .column-mid{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 33%;
  height: 721px;
}