body{
    background-color: pink;
    display: flex;
    justify-content: center;
    align-items: center;
}
.picture{
    border: 10px solid white;
    transition: 0.3s;
    object-fit: cover;
    display: block;
    margin: 5px;
}
.picture:hover{
    border-radius: 25px;
    transform: scale(1.5);
}
.box{
    display: flex;
    justify-content: center;
}